# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare that .sh files will always have LF line endings on checkout. This avoids extra \r characters when run in Linux.
*.sh text eol=lf
